html, body 
{ height: 100%;
  margin: 0; 
  padding: 0;
}

#header
{
	height: 8%;
	width: 100%;
	background-color: #000000;
}
#map 
{ 
	height: 95%;
	width: 80%;
	/*margin-left: auto;
	margin-right: auto;
	margin-top:10px;*/
	float:left;
}

#frame
{
	height: 100%;
	width: 100%;
}

#groupInfo p
{
	color: #9D9D9D;
}
#left
{
	height:95%;
	width:20%;
	float: left;
	background-color:#272727;
	/*margin-top: 10px;*/
}
#navigator
{
	height:22px;
	margin-left: 230px;
	/*width:100%;
	border-color: red;
	border-style:solid;*/
}

.nav
{
	float:left;
	color:#BEBEBE;
	text-decoration:none;
	font-size:20px;
    font-weight:bold;
    height: 100%;
    margin-left: 60px;
    margin-top: 15px;
}

.nav:hover
{
	color:#FFFFFF;
}

.nav_child
{
	margin-top: 20px;
	margin-left: 20px;
}

.nav_child a
{
	display: block;
	text-decoration:none;
	font-size:20px;
	color:#BEBEBE;
	margin-top: 20px;
}

#left_top
{
	height: 50%;
	/*background-color:#272727;*/
}

#left_bottom
{
	height: 50%;
	/*background-color:#3C3C3C;*/
}
.legend
{
	margin-left: 20px;
	position:fixed;
	bottom:20px;
}
