html, body 
{ height: 100%;
  margin: 0; 
  padding: 0;
}

#header
{
	height: 18%;
	width: 100%;
	background-color: #DFFFDF;
}
#title
{
	margin-top: 20px;
	margin-left: 600px;

}
#map 
{ 
	height: 80%;
	width: 79%;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	float:right;
}

#frame
{
	height: 100%;
	width: 100%;
}

#navigator
{
	height:80%;
	width:20%;
	float: left;
	background-color:#D2E9FF;
	margin-top: 10px;
}

#navigator ul
{

}
#navigator ul li
{
	list-style-type:none;
	padding-top: 10px;
	padding-bottom: 10px;
}

#navigator ul a
{
	color:#666666;
	text-decoration:none;
	font-size:20px;
    font-weight:bold;
}
#navigator ul a:hover{}